////
/// Subhead block.
///
/// @group  Blocks
/// @author Steffen Bang Nielsen <sbn@retrofitter.dk>
/// @link   https://retrofitter.dk
////

.wp-block-subhead {
	font-size:  1.125em;
	font-style: italic;
	opacity:    0.75;
}
