////
/// Accessibility styles.
///
/// @group  Utilities
/// @author Steffen Bang Nielsen <sbn@retrofitter.dk>
/// @link   https://retrofitter.dk
////

// Text only shown to screen readers.

.screen-reader-text {
	border: 0;
	clip:      rect( 1px, 1px, 1px, 1px );
	clip-path: inset( 50% );
	position: absolute !important;
	width:     1px;
	height:    1px;
	margin:    -1px;
	overflow:  hidden;
	padding:   0;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
	border:    none;

	&:active,
	&:focus {
		clip: auto !important;
		clip-path:       none;
		display:         block;
		height:          auto;
		width:           auto;
		z-index: 100000; /* Above WP toolbar. */
		text-decoration: none;
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

// Targets the "skip to content" link at the top of the page if it needs extra
// style rules beyond the screen reader text rules.

.skip-link {}