////
/// Alignment classes.
///
/// Primarily, we use this to build out style rules for the core WordPress
/// `.align*` classes.
///
/// @group  Utilities
/// @author Steffen Bang Nielsen <sbn@retrofitter.dk>
/// @link   https://retrofitter.dk
////

// Left alignment.
.alignleft {
	@media( min-width: break(small) ) {
		float:     left;
		margin:    1.5rem 1.5rem 1.5rem 0;
		max-width: 50%;
	}
}

// Right alignment.
.alignright {
	@media( min-width: break(small) ) {
		float:     right;
		margin:    1.5rem 0 1.5rem 1.5rem;
		max-width: 50%;
	}
}

// Center alignment.
.aligncenter {
	display:      block;
	margin-left:  auto;
	margin-right: auto;
	text-align:   center;
	clear:        both;
}

// align wide classes.
.alignwide {
	clear: both;
	width: 100%;
}

// Align full and wide classes.
.alignfull {
	clear: both;
	margin-left  : calc( -100vw / 2 + 100% / 2 );
    margin-right : calc( -100vw / 2 + 100% / 2 );
	width:        auto;
	max-width:    100vw;
}

@media ( min-width: break( medium ) ) {
	.two-columns.has-sidebar {
		.alignwide, .alignfull {
			width: 100%;
		}
	}
}

