////
/// Set up and define fonts.
///
/// @group  Settings
/// @author Steffen Bang Nielsen <sbn@retrofitter.dk>
/// @link   https://retrofitter.dk
////

/// Returns a map of font families in name-value format.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of defined font families.

@function font-families() {

	@return (
		primary   : #{system-ui},
		secondary : #{system-ui},
		code      : #{Monaco, Consolas, Courier, monospace}
	);
}

/// Returns a single font family by name.
///
/// @since  1.0.0
/// @access public
/// @param  {string}  $name  Font familiy name.
/// @return {string}         Font family value.

@function font-family( $name ) {

	@return map-get( font-families(), $name );
}

/// Returns a map of editor font sizes in name-value format. These are the sizes
/// defined via the `editor-font-sizes` setting in `app/functions-setup.php`
/// for the WordPress editor.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of defined font sizes.

@function editor-font-sizes() {

	@return (
		small   : 12px,
		regular : 16px,
		large   : 36px,
		larger  : 48px
	);
}

/// Returns a single editor font size value by name.
///
/// @since  1.0.0
/// @access public
/// @param  {string}  $name  Font size name.
/// @return {string}         Font size value.

@function editor-font-size( $name ) {

	@return map-get( editor-font-sizes(), $name );
}

/// Returns a map of frontend font sizes in name-value format. These are the values
/// that should be used with the font-size @mixin
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of defined font sizes.

@function font-values() {

	@return (
		small   : 12,
		regular : 16,
		medium	: 24,
		large   : 36,
		larger  : 48
	);
}

/// Returns a single frontend font size value by name.
///
/// @since  1.0.0
/// @access public
/// @param  {string}  $name  Font size name.
/// @return {string}         Font size value.

@function font-value( $name ) {

	@return map-get( font-values(), $name );
}

/// Returns a map of frontend line-heights in name-value format.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of defined font size values.

@function line-heights() {

	@return (
		body    : 1.5,
		heading : 1.15,
		code	: 1.6
	);
}

/// Returns a single line-height value by name.
///
/// @since  1.0.0
/// @access public
/// @param  {string}  $name  Font line-height name.
/// @return {string}         Font line-height value.

@function line-height( $name ) {

	@return map-get( line-heights(), $name );
}
