////
/// App header component.
///
/// @group  Components
/// @author Steffen Bang Nielsen <sbn@retrofitter.dk>
/// @link   https://retrofitter.dk
////

.app-header {
	height: 6rem;
	// Backdrop when menu is open
	.no-scroll & {
		position: fixed;
		width: 100%;
		background: var(--color-white);
		left: 0;
	}

	// Wrapper around the header content.
	&__wrapper {
		display: flex;
		justify-content: space-between;
		.no-scroll & {
			max-width: 1240px;
			margin: 0 auto;
			padding: 0 20px;
			@media ( min-width: break( medium ) ) {
				padding: 0 40px;
			}
		}
		.logocenter & {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	// Wrapper around the title and description.
	&__branding {
		max-height: 3rem;
		line-height: 3rem;
		overflow: hidden;
		flex: 0 1 auto;
		min-width: 200px;
		.logoright & {
			order: 2;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;	
		}
		.logocenter & {
			flex-basis: 100%;
			display: flex;
			justify-content: center;
		}
	}

	// Wrapper around the menu area.
	&__navigation {
		display: flex;
		line-height: 3rem;
		max-height: 3rem;
		font-weight: bolder;
		color: var(--color-primary);
		@include font-size(20);
		.logocenter & {
			line-height: 1rem;
		}
	}

	// Buttons for toggling menu
	&__toggle {
		line-height: 3rem;
		flex: 0 1 auto;
		margin: 0 0 0 1rem;
		@include font-size(20);

		.logocenter & {
			line-height: 1rem;
		}
		header:not(.logocenter) & {

		}
		.logoright & {
			margin: 0 1rem 0 0;
		}
		@media ( min-width: break( small ) ) {
			min-width: 130px;
		}

		a {
			color: var(--color-primary);
			text-decoration: none;
			&:visited,
			&:hover,
			&:focus,
			&:active {
				color: var(--color-primary);
			}
		}
		&--open, &--closed {
			a {
				&:after,&:before {
					content: "";
					font-family: "Finicon";
					vertical-align: middle;
					@include font-size(32);
					letter-spacing: .3rem;
				}
			}
		}

		&--open {
			.no-scroll & {
			display: none;
			}
			a {
				&:after {
				content: "=";
				}
				.logoright & {
					&:before {
					content: "=";
					}
					&:after {
					content: "";
					}
				}
			}
		}
		&--closed {
			display: none;
			z-index: 1000;
			position: relative;
			.no-scroll & {
				display: flex;
			}
			a {
				&:before {
					content: "x";
				}
			}
		}
	}

	// Menu name.
	&__menu-name {
		color: var(--color-primary);
		.logoright & {
			order: 2;
		}
		header:not(.logocenter) & {
			@media ( max-width: break( small ) ) {
				border: 0;
				clip:      rect( 1px, 1px, 1px, 1px );
				clip-path: inset( 50% );
				position: absolute !important;
				width:     1px;
				height:    1px;
				margin:    -1px;
				overflow:  hidden;
				padding:   0;
				word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
				border:    none;
			}
		}
	}

	// Output from the `custom-logo` feature.
	&__logo {}

	// Logo link.
	&__logo-link {
		display: inline-block;
		max-width: 185px;
		max-height: 50px;
	}

	// The site title.
	&__title {
		display: inline-block;
		text-transform: lowercase;
		@include font-size(22);
		// line-height: 3rem;
		@media ( min-width: break( medium ) ) {
			@include font-size(26);
		}

		.show-only-description & {
			border: 0;
			clip:      rect( 1px, 1px, 1px, 1px );
			clip-path: inset( 50% );
			position: absolute !important;
			width:     1px;
			height:    1px;
			margin:    -1px;
			overflow:  hidden;
			padding:   0;
			word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
			border:    none;
		}
	}

	// Site title link.
	&__title-link {
		display: inline-block;
		text-decoration: none;
		color: var(--color-black);
		&:visited,
		&:hover,
		&:focus,
		&:active {
			color: var(--color-black);
		}
		& .first {
			font-family: var(--font-secondary);
			font-weight: normal;
		}
		& .divider {
			color: var(--color-primary);
			font-family: "Finicon";
			vertical-align: bottom;
			letter-spacing: -.35em;
			margin-left: -.35em;
		}
		& .last {
			font-weight: bold;
			font-family: var(--font-primary);
		}
	}

	// The site description.
	&__description {
		display: inline-block;
		margin: 0 0 0 1rem;
		@media ( max-width: break( medium ) ) {
			border: 0;
			clip:      rect( 1px, 1px, 1px, 1px );
			clip-path: inset( 50% );
			position: absolute !important;
			width:     1px;
			height:    1px;
			margin:    -1px;
			overflow:  hidden;
			padding:   0;
			word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
			border:    none;
		}
		.show-only-title & {
			border: 0;
			clip:      rect( 1px, 1px, 1px, 1px );
			clip-path: inset( 50% );
			position: absolute !important;
			width:     1px;
			height:    1px;
			margin:    -1px;
			overflow:  hidden;
			padding:   0;
			word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
			border:    none;
		}
	}
}
