////
/// App component.
///
/// This is the wrapper for the entire page layout.
///
/// @group  Components
/// @author Steffen Bang Nielsen <sbn@retrofitter.dk>
/// @link   https://retrofitter.dk
////

.app, .wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    @media ( min-width: break( medium ) ) {
        padding: 0 40px;
        .two-columns.has-sidebar & {
            &-content {
                display: flex;
            }
            &-main {
                width: 65.5%;
                margin-right: 3.5%;
            }
        }
    }
}