////
/// App component.
///
/// This is the wrapper for the entire page layout.
///
/// @group  Components
/// @author Steffen Bang Nielsen <sbn@retrofitter.dk>
/// @link   https://retrofitter.dk
////

.app {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}