	////
/// App content component.
///
/// This component generally wraps the `<main>` section and the sidebar.
///
/// @group  Components
/// @author Steffen Bang Nielsen <sbn@retrofitter.dk>
/// @link   https://retrofitter.dk
////

.app-content {
	.no-scroll & {
		padding-top: 6rem;
	}
	.no-scroll.has-costom-logo & {
		padding-top: 10rem;
	}
	.no-scroll.logocenter & {
		padding-top: 10rem;
		@media ( max-width: break( medium ) ) {
			padding-top: 8rem;
		}
	}
	.no-scroll.hide-site-description.logocenter & {
		padding-top: 8rem;
	}
	.no-scroll.has-custom-logo.logocenter & {
		padding-top: 18rem;
		@media ( max-width: break( medium ) ) {
			padding-top: 14rem;
		}
	}
	.no-scroll.has-custom-logo.hide-site-description.logocenter & {
		padding-top: 14rem;
	}
}
