////
/// App header component.
///
/// @group  Components
/// @author Steffen Bang Nielsen <sbn@retrofitter.dk>
/// @link   https://retrofitter.dk
////

.app-header {
	height: 6rem;
	.has-custom-logo & {
		height: 10rem;
	}
	.logocenter & {
		height: 10rem;
		@media ( max-width: break( medium ) ) {
			height: 8rem;
		}
	}
	.hide-site-description.logocenter & {
		height: 8rem;
	}
	.has-custom-logo.logocenter & {
		height: 18rem;
		@media ( max-width: break( medium ) ) {
			height: 14rem;
		}

	}
	.has-custom-logo.hide-site-description.logocenter & {
		height: 14rem;
	}

	// Backdrop when menu is open
	.no-scroll & {
		position: fixed;
		width: 100%;
		background: var(--color-white);
		left: 0;
	}

	// Wrapper around the header content.
	&__wrapper {
		display: flex;
		justify-content: space-between;
		.no-scroll & {
			max-width: 1240px;
			margin: 0 auto;
			padding: 0 20px;
			@media ( min-width: break( medium ) ) {
				padding: 0 40px;
			}
		}
		.logocenter & {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	// Wrapper around the title and description.
	&__branding {
		display: flex;
		// line-height: 3rem;
		overflow: hidden;
		flex: 0 1 auto;
		min-width: 200px;
		.logoright & {
			order: 2;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
		}
		.logocenter & {
			flex-basis: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			& > * {
				align-self: center;
			}
		}
	}

	// Wrapper around the menu area.
	&__navigation {
		display: flex;
		line-height: 3rem;
		max-height: 3rem;
		font-weight: bolder;
		color: var(--color-primary);
		flex: 0 1 20rem;
		@include font-size(20);
		@media ( max-width: break( medium ) ) {
			flex-basis: auto;
		}
		.hide-site-description & {
			flex-basis: auto;
		}
		.logocenter & {
			// line-height: 1rem;
			flex-basis: auto;
			padding-left: .5rem;
		}
	}

	// Buttons for toggling menu
	&__toggle {
		line-height: 3rem;
		flex: 0 1 auto;
		margin: 0;
		font-weight: bold;
		@include font-size(20);

		// .logocenter & {
		// 	line-height: 1rem;
		// }

		.logoright & {
			// margin: 0 1rem 0 0;
		}
		@media ( min-width: break( small ) ) {
			min-width: 130px;
		}

		a {
			color: var(--color-primary);
			text-decoration: none;
			&:visited,
			&:hover,
			&:focus,
			&:active {
				color: var(--color-primary);
			}
		}
		&--open, &--closed {
			a {
				&:after,&:before {
					content: "";
					font-family: "Finicon";
					vertical-align: middle;
					@include font-size(32);
					letter-spacing: .3rem;
				}
			}
		}

		&--open {
			.no-scroll & {
			display: none;
			}
			a {
				&:after {
				content: "=";
				}
				.logoright & {
					&:before {
					content: "=";
					}
					&:after {
					content: "";
					}
				}
			}
		}
		&--closed {
			display: none;
			z-index: 1000;
			position: relative;
			.no-scroll & {
				display: flex;
			}
			a {
				&:before {
					content: "x";
				}
			}
		}
	}

	// Menu name.
	&__menu-name {
		color: var(--color-primary);
		.logoright & {
			order: 2;
		}
		body:not(.logocenter) & {
			@media ( max-width: break( small ) ) {
				@include screen-reader-text();
			}
		}
	}
}
