////
/// Entry component.
///
/// @group  Components
/// @author Steffen Bang Nielsen <sbn@retrofitter.dk>
/// @link   https://retrofitter.dk
////

.entry {
	> * {
		margin: 0 auto;
		@media (min-width: break( medium ) ) {
			width: 74.1%;
		}
	}
	// Type of entry/post.
	&--type-post {}

	&--type-page {}

	// Sticky posts.
	&.sticky {}

	// Featured image.
	&__image {}

	// Header wrapper.
	&__header {}

	// Entry title.
	&__title {}

	// Full entry content.
	&__content {
		> * {
			margin: 0 auto;
			@media (min-width: break( small ) ) {
				width: 65%;
			}
			// @media (min-width: break( medium ) ) {
			// 	width: 48.3%;
			// }
		}
	}

	// Summary/Excerpt.
	&__summary {}

	// Meta wrappers.
	&__byline {}

	&__footer {}

	// Individual metadata items.
	&__author {}

	&__published {}

	&__comments {}

	&__terms {}
}
