////
/// Gallery (shortcode) component.
///
/// @group  Components
/// @author Steffen Bang Nielsen <sbn@retrofitter.dk>
/// @link   https://retrofitter.dk
////

.gallery {
	margin-bottom: 1.5em;
	@media ( min-width: break(small)) {

		@for $i from 1 through 10 {

			&-columns-#{ $i } &-item {
				max-width: map-get( $columns, $i );
			}
		}
	}
	&-item {
		display: inline-block;
		text-align: center;
		vertical-align: top;
		width: 100%;
	}

	&-icon {
		img {}
	}

	&-caption {
		display: block;
	}
}