////
/// Site-info component.
///
/// @group  Components
/// @author Steffen Bang Nielsen <sbn@retrofitter.dk>
/// @link   https://retrofitter.dk
////

.site-info {
	// Output from the `custom-logo` feature.
	&__logo {
		margin: 1rem 1rem 0 0;
	}

	// Logo link.
	&__logo-link {
		display: inline-block;
		// max-width: 270px;
		// max-height: 30px;
		// line-height: 1;
		// margin:	1rem 0 0 0;
	}

	// The site title.
	&__title {
		display: inline-block;
		text-transform: lowercase;
		@include font-size(22);
		line-height: 3rem;
		max-height: 3rem;
		margin-right: 1rem;
		@media ( min-width: break( medium ) ) {
			@include font-size(26);
		}
		.app-header & {
			flex: 1 0 auto;
		}
		.app-header & {
			.logoright & {
				text-align: right;
			}
		}
		.app-footer & {
			margin: 1rem 0 0 0;
			line-height: 1rem;
		}
		.logocenter & {
			margin: 0;
			@media ( min-width: break( medium ) ) {
				margin-top: 1rem;
				line-height: 1rem;
			}
		}
		.hide-site-description.logocenter & {
			margin: 0;
			line-height: 3rem;
		}
		// &:before {
		// 	content: 'fin';
		// 	font-family: var(--font-secondary);
		// 	font-weight: normal;
		// }
		// &:after {
		// 	content: ':kommunikation';
		// 	font-family: var(--font-primary);
		// }
		// &:first-letter {
		// 	color: red;
		// }
	}

	// Site title link.
	&__title-link {
		display: inline-block;
		text-decoration: none;
		color: var(--color-black);
		&:visited,
		&:hover,
		&:focus,
		&:active {
			color: var(--color-black);
		}
		// // & .first {
		// // 	font-family: var(--font-secondary);
		// // 	font-weight: normal;
		// // }
		// // & .divider {
		// // 	color: var(--color-primary);
		// // 	font-family: "Finicon";
		// // 	vertical-align: bottom;
		// // 	letter-spacing: -.35em;
		// // 	margin-left: -.35em;
		// // }
		// // & .last {
		// // 	font-weight: bold;
		// // 	font-family: var(--font-primary);
		// }
		.has-custom-logo &,
		.hide-site-title & {
			@include screen-reader-text();
		}
	}

	// The site description.
	&__description {
		// display: inline-block;
		margin: 0.2rem 0 0 0;
		line-height: 3rem;
		max-height: 3rem;
		.app-header & {
			.has-custom-logo.logocenter & {
				margin: 0 0 1rem 0;
				line-height: 1rem;
			}
		}
		@media ( max-width: break( medium ) ) {
			.app-header & {
				@include screen-reader-text();
			}
		}
		.hide-site-description & {
			@include screen-reader-text();
		}
	}
}
