////
/// Heading elements.
///
/// @group  Elements
/// @author Steffen Bang Nielsen <sbn@retrofitter.dk>
/// @link   https://retrofitter.dk

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-secondary);
	line-height: var(--lineheight-heading);
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: bolder;
    clear: both;
}

h1 {
    @include font-size(font-value(larger));
}

h2 {
    @include font-size(font-value(large));
}

h3 {
    @include font-size(font-value(medium));
}

h4,h5,h6 {
    @include font-size(font-value(regular));
}