p {
	margin: .5rem 0 1rem 0;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: var(--color-light-grey);
	font-family: var(--font-code);
	@include font-size(9.375);
	line-height: var(--lineheight-code);
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: var(--font-code);
	@include font-size(0.9375);
	padding: .2rem .5rem;
	margin: 0 .2rem;
	font-size: 90%;
	white-space: nowrap;
	border: 1px solid var(--color-light-grey);
	border-radius: 3px;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

abbr, acronym {
	border-bottom: 1px dotted var(--color-light-grey);
	cursor: help;
}

mark, ins {
	background: var(--color-light-grey)t;
	text-decoration: none;
}

big {
	font-size: 125%;
}